header
  nav.home
    ul
      li: a(href="#photography") Photography
      li: a(href="#barbering") Barbering
      li: a(href="#webdevelopment") WebDevelopment
  
  .header-info    
    .contacts
      ul
        li: a(href="github") GH
        li: a(href="vk") VK
        li: a(href="instagram") INST
        li: a(href="twitter") TW
        li: a(href="facebook") FB
      
    .logo
      h1 TELESHIK

    .lang
      ul
        li: a(href="en") EN
        li: a(href="ru") RU
