mixin nav-home-content()
  ul
    li: a(href="#photography") Photography
    li: a(href="#barbering") Barbering
    li: a(href="#webdevelopment") WebDevelopment
    
mixin lang()
  .lang
    ul
      li: a(href="en") EN
      li /
      li: a(href="ru") RU
      
mixin logo()
  .logo
    h1 TELESHIK


.mobile-nav-home
  +lang()
  +nav-home-content()

header
  .home-menu-button#menu-button: span
  +logo

  .header-wrap#header-wrap
    .nav-home-wrap
      nav.home
        +nav-home-content()
      
    .header-info    
      .contacts
        ul
          li: a(href="https://github.com/SergeyTeleshik") 
            .a
          li: a(href="https://vk.com/wgate") 
            .a
          li: a(href="https://www.instagram.com/teleshik/") 
            .a
          li: a(href="https://twitter.com/teleshik") 
            .a
          li: a(href="https://www.facebook.com/ts.ts.smp") 
            .a
          li: a(href="https://github.com/SergeyTeleshik") 
            .a
        
      +logo()

      +lang()

    
