header
  nav.home
    ul
      li: a(href="#photography") Photography
      li: a(href="#barbering") Barbering
      li: a(href="#webdevelopment") WebDevelopment
  
  .header-info    
    .contacts
      ul
        li: a(href="https://github.com/SergeyTeleshik") 
          .a
        li: a(href="https://vk.com/wgate") 
          .a
        li: a(href="https://www.instagram.com/teleshik/") 
          .a
        li: a(href="https://twitter.com/teleshik") 
          .a
        li: a(href="https://www.facebook.com/ts.ts.smp") 
          .a
        li: a(href="https://github.com/SergeyTeleshik") 
          .a
      
    .logo
      h1 TELESHIK

    .lang
      ul
        li: a(href="en") EN
        li: a(href="ru") RU
